/node_modules
/vendor
.env
.git
.gitignore
storage/*.key
/public/storage
/public/hot
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/scratch
dump_html.php
0
output.html
cookies.txt
check_tables.php
count_divs.php
extract_dom.php
test.php
validate_html.php
test_create_build.php
test_snapping.js
test_supabase_direct.php
